/**
# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

*/

$Pink: hsl(322, 100%, 66%);
$DarkCyan: hsl(192, 100%, 9%);
$PaleBlue: hsl(207, 100%, 98%);

$Shadows: 0 0.6rem 0.7rem -0.7rem $DarkCyan;

html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: $DarkCyan;
  font-size: 15px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

h2 {
  font-size: 2.7rem;
  margin-bottom: 1rem;

  @media screen and (max-width: 768px) {
    font-size: 1.7rem;
    margin-bottom: 1.4rem;
  }
}

h3 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  @media screen and (max-width: 768px) {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 6rem;
  margin: 0;
}

body {
  margin: 0 auto;
  padding: 0;
}

button,
.button {
  cursor: pointer;
}

header {
  max-width: 1200px;
  height: 100px;
  margin: 0 auto 10rem;
  padding: 1rem 1.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    margin: 0 auto 5rem;
  }

  .logo img {
    @media screen and (max-width: 768px) {
      width: 100px;
    }
  }

  .button {
    border: 1px solid $Pink;
    color: $Pink;
    border-radius: 1.5rem;
    padding: 0.5rem 1.5rem;
    text-decoration: none;

    @media screen and (max-width: 768px) {
      padding: 0.2rem 1rem;
    }
    &:hover {
      background-color: $Pink;
      color: white;
    }
  }
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.75rem;
}

.intro {
  max-width: 960px;
  margin-bottom: 5rem;
  text-align: center;

  @media screen and (max-width: 768px) {
    margin-bottom: 10rem;
  }

  p {
    max-width: 480px;
    margin: 0 auto 2.5rem;

    @media screen and (max-width: 768px) {
      margin: 0 auto 3rem;
    }
  }

  button {
    color: white;
    background-color: $Pink;
    padding: 1.2rem 6rem;
    border: none;
    border-radius: 3rem;
    margin-bottom: 5rem;
    box-shadow: $Shadows;

    @media screen and (max-width: 768px) {
      margin-bottom: 6rem;
      padding: 1rem 3rem;
    }

    &:hover {
      transform: translateY(2px);
      box-shadow: none;
    }
  }
  img {
    max-width: 960px;
    height: auto;
    width: 100%;
  }
}

.stats {
  width: 75%;
  margin: 0 auto 4rem;

  @media screen and (max-width: 768px) {
    margin: 0 auto;
  }

  .wrapper {
    display: flex;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-around;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    .stat {
      width: 230px;

      @media screen and (max-width: 768px) {
        margin-bottom: 7rem;
      }

      .community {
        height: 36px;
      }

      .message {
        height: 30px;
      }

      p {
        font-size: 1.4rem;
        text-align: center;
        opacity: 0.6;
        margin-top: 0.5rem;
      }

      .number {
        font-size: 5.5rem;
        font-weight: 700;
        margin: 0;
        text-align: left;
        opacity: 1;
      }
    }
  }
}

.grow {
  &::before {
    display: block;
    content: "";
    background-image: url("../images/bg-section-top-desktop-1.svg");
    background-color: white;
    background-size: cover;
    height: 155px;
    width: 100%;

    @media screen and (max-width: 768px) {
      background-image: url("../images/bg-section-top-mobile-1.svg");
      height: 100px;
    }
  }
  &::after {
    display: block;
    content: "";
    background-image: url("../images/bg-section-bottom-desktop-1.svg");
    background-color: white;
    background-size: cover;
    height: 135px;
    width: 100%;

    @media screen and (max-width: 768px) {
      background-image: url("../images/bg-section-bottom-mobile-1.svg");
      height: 50px;
    }
  }
}

.users {
  &::before {
    display: block;
    content: "";
    background-image: url("../images/bg-section-top-desktop-2.svg");
    background-color: white;
    background-size: cover;
    height: 155px;
    width: 100%;

    @media screen and (max-width: 768px) {
      background-image: url("../images/bg-section-top-mobile-2.svg");
      height: 100px;
    }
  }
  &::after {
    display: block;
    content: "";
    background-image: url("../images/bg-section-bottom-desktop-2.svg");
    background-color: white;
    background-size: cover;
    height: 135px;
    width: 100%;

    @media screen and (max-width: 768px) {
      background-image: url("../images/bg-section-bottom-mobile-2.svg");
      height: 100px;
    }
  }
}

.section-image {
  width: 100%;
  height: auto;
}

.blue {
  background-color: $PaleBlue;
}

.grow > div,
.flowing > div,
.users > div {
  display: flex;
  align-items: center;
  margin: 6rem auto;
  padding: 0 1rem;
  justify-content: space-around;

  @media screen and (max-width: 768px) {
    margin: 6rem auto 3rem;
    flex-direction: column-reverse;
  }

  .image {
    flex-basis: 35%;
    @media screen and (max-width: 768px) {
      margin-bottom: 3.5rem;
      max-width: 80%;
    }
  }

  .text {
    flex-basis: 42%;
    max-width: 520px;

    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }
}

.flowing {
  .wrapper {
    flex-direction: row-reverse;
    @media screen and (max-width: 768px) {
      margin: 10rem auto 8rem;
      flex-direction: column-reverse;
    }
  }
}

.users {
  .wrapper {
    @media screen and (max-width: 768px) {
      margin: 3rem auto 6rem;
      flex-direction: column-reverse;
    }
  }
}

.call-to-action {
  text-align: center;
  margin: 12rem auto;
  @media screen and (max-width: 768px) {
    margin: 4rem auto 15rem;
  }

  h3 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    @media screen and (max-width: 768px) {
      margin-bottom: 3rem;
    }
  }

  button {
    background-color: $Pink;
    color: white;
    border: 1px solid $Pink;
    padding: 1.2rem 5rem;
    border-radius: 3rem;
    box-shadow: $Shadows;

    @media screen and (max-width: 768px) {
      padding: 1rem 2rem;
    }

    &:hover {
      transform: translateY(2px);
      box-shadow: none;
    }
  }
}

footer {
  background-color: $DarkCyan;
  color: white;
  font-size: 0.9rem;
  line-height: 1.4rem;

  .wrapper {
    display: flex;
    flex-direction: row;
    margin: 5rem auto;
    padding: 0 1.75rem;
    justify-content: space-between;

    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      align-items: center;
      padding: 0 2.5rem;
    }
  }

  &::before {
    display: block;
    content: "";
    background-image: url("../images/bg-footer-top-desktop.svg");
    background-color: white;
    background-size: cover;
    height: 155px;
    width: 100%;

    @media screen and (max-width: 768px) {
      background-image: url("../images/bg-footer-top-mobile.svg");
      height: 100px;
    }

    @media screen and (max-width: 500px) {
      background-image: url("../images/bg-footer-top-mobile.svg");
      height: 45px;
    }
  }

  .footer-left {
    max-width: 330px;

    @media screen and (max-width: 768px) and (min-width: 500px) {
      max-width: 500px;
    }

    .footer-logo {
      height: 40px;
      width: 240px;

      @media screen and (max-width: 768px) {
        width: 190px;
      }
    }

    .text {
      margin-bottom: 1.5rem;
      line-height: 1.7;
    }

    ion-icon {
      position: relative;
      top: 5px;
      margin-right: 0.8rem;
      font-size: 1.5rem;
    }

    .social {
      position: relative;
      right: 4px;
      margin-top: 3.5rem;

      @media screen and (max-width: 768px) {
        margin-top: 2.5rem;
      }

      ion-icon {
        font-size: 2.5rem;
        @media screen and (max-width: 768px) {
          font-size: 2rem;
        }
      }
    }
  }

  .footer-right {
    @media screen and (max-width: 900px) {
      max-width: 50%;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 6rem;
      max-width: 100%;
    }

    .text {
      max-width: 350px;
      margin-bottom: 1.5rem;
      line-height: 1.7;

      @media screen and (max-width: 768px) and (min-width: 500px) {
        max-width: 500px;
      }
    }

    .uppercase {
      font-weight: 600;
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-top: 0;
    }

    form {
      max-width: 510px;
      margin-top: 2rem;

      @media screen and (max-width: 900px) {
        display: flex;
        flex-direction: column;
      }
      input {
        min-width: 315px;
        padding: 1rem;
        border-radius: 5px;
        border: none;

        @media screen and (max-width: 900px) {
          margin-bottom: 1rem;
        }
        @media screen and (max-width: 768px) {
          width: 100%;
          min-width: unset;
          margin-bottom: 1rem;
        }
      }

      button {
        margin-left: 2rem;
        padding: 1rem 2rem;
        border-radius: 5px;
        border: none;
        background-color: $Pink;
        color: white;

        @media screen and (max-width: 900px) {
          align-self: flex-start;
          width: 50%;
          margin-left: 0;
        }
        @media screen and (max-width: 768px) {
          align-self: flex-end;
          width: 50%;
        }
      }
    }
  }
}

.attribution {
  text-align: center;
  margin: 0;

  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
}
